<div class="home__container">
	<app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202306/1219/1c7b75d8ed9271516546560d219ad0b22ee0a263b4537bd8.png?"
		gameLabel="PRÉ VENDA"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 349,90"
	>
	</app-card>
	<app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202308/1722/dd78d0c35970e997c162b13f20d6a66f24afad1b4c47a482.png?"
		gameLabel="PRÉ VENDA"
		gameType="DIGITAL | PS4 PS5"
		gamePrice="R$ 299,00"
	>
	</app-card>
	<app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202308/3009/8a27c829c09f8a02e0201e4c4a063bad5b44b3b8f76aa529.png?"
		gameLabel="PRÉ VENDA"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 349,90"
		>
	</app-card>
	<app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202305/2420/c3daf3037feb797d9e71b81618e3b5ff3ff1f9609db5a4a2.png?"
		gameLabel="PRÉ VENDA"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 270,90"
	>
	</app-card>
</div>

